/messaging-api/target/
/messaging-lightweight/target/
/messaging/target/
/gateway-adapter/target/
/gateway-registry/target/
/gateway-registry/nbproject/
/messaging-lightweight/nbproject/
/local-test-discovery-service/target/